@font-face {
    font-family: "Anime Ace";
    src: url(fonts/Laffayette_Comic_Pro.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: "Anime Ace";
  }

.top-narrative {
    height: 400px;
    width: 100%;
    background-color: black;
}



.hi {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.narrative-name {
    height: 150px;
    width: 120px;
    position: absolute;
    top: 120px;
    left: 400px;
}

.box {
    background-color: white;
    border: 3px solid black;
}

.nt {
    padding: 20px;
    text-align: center;
    font-weight: 600;
    font-size: small;
}

.narrative-hobby {
    height: 180px;
    width: 120px;
    position: absolute;
    left: 800px;
    top: 200px;
}

.fade {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.sma47 {
    border-bottom: 4px solid black;
    width: 100%;
    margin-bottom: 50px;
}

.narrative-school {
    height: 75px;
    width: 150px;
    position: absolute;
    left: 1100px;
    top: 520px;
    z-index: 20;
}

.MPK {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.parent {
    width: 1200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 4px solid black;
}

.zoom {
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all 0.5s;
}

.logo47 {
    background-image: url(img/logo\ sman\ 47.png);
}

.opini47 {
    background-image: url(img/opini\ 47.png);
}

.narrative-mpk {
    height: 150px;
    width: 120px;
}

.narrative-empeka {
    height: 130px;
    width: 100px;
    position:absolute;
    top:1050px;
    left: 20px;
}

.narrative-komisid {
    height: 150px;
    width: 130px;
    position:absolute;
    top:1300px;
    right: 20px;
    z-index: 2;
}

.parent {
    display: inline-block;
}

.parent:hover .zoom {
    transform: scale(1.1);
}
